<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cartshareapp">

    <!-- REQUIRED for Firebase + Google Sign-In -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.CartShareApplication"
        android:allowBackup="true"
        android:label="CartShare"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <!-- REQUIRED for Google Identity Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>